APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

VITE_PORT=

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


# Ejemplo de variables en .env
# API_TOKEN=EAAHZCxA7IRFIBO7MPNp0cUAFI2anZBzvLAYWGBv6QAXko7wHjW7ZCTWZB2CHii5GLyLlSmpuSlJfU02ddGhCWz8oAdZCT0h1ZAmBKSe8OJ5DFK3lgA7NBa3de1YBIocbJ6z4AO8lsbF0ISD9vZC86Ih1ZCapHLmFiG0rzj8m4s7mJ4az5ezkcUFWWE13x77oj9joJwZDZD para borrar
# BUSINESS_PHONE=705223012665674 para borrar

WEBHOOK_VERIFY_TOKEN=
API_VERSION=
BASE_URL=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_PHONE_NUMBER=
WHATSAPP_TOKEN=
WHATSAPP_BUSINESS_ID=
EAAHZCxA7IRFIBO5ditCBJxLqpszr3tQF3gJCxjGivslhUVmDvit5tIQcQR8qBUvahXfgpA1hOSG2DcyZBkdYqzTxtlNcXnZBiAt3LRS1vPAyuwNSkt2HNi0LsJONlIR4wVsq1jful8s3gNQf77qOd6KJIH3oJR4NurHTW0NWlhK5uNcIrF5JkAQh6ZB29ZCL8VwZDZD=
